body {
    overflow: hidden;
    padding: 15px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    background-image: url('https://phunugioi.com/wp-content/uploads/2020/08/hinh-nen-mau-trang.jpg');
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-custom {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #45a049;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}
.menu {
    height: 100vh;
    background-color: #545b62;
    padding: 20px;
}
.menu .list-group-item {
    transition: background-color 0.3s;
}
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.username {
    margin-top: 10px;
    font-weight: bold;
    color:white;
}


.menu .list-group-item:hover {
    background-color: #e9ecef;
}

.menu .list-group-item.active {
    background-color: #007bff;
    color: #fff;
}


.content {

    height: 100vh;
    overflow-y: scroll;
    padding: 20px;
    overflow: hidden;
}

.scrollable-content {
    height: 100%;

}