
.section-sp1{
    /* background-color: #9400D3; */
    background-image: url("./images/back-home-1.png");
    
}
.background-header-1{
   padding-bottom: 60px;
}
.icon-box-1{
   color: aliceblue;
}

.icon-box h3 i{
   width: 50px;
}
.cours-search-bx{
    position: relative;
    background-color: #483d8b;
    border-radius: 20px;
    opacity: 0.9;
    height: 150px;
    width: 235px;
   margin: auto;
}
.icon-box-1{
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    align-content: center;
    top:29%;
    
}
 /* Popular Courses  */

 .item .cours-bx{
    border: 1px solid gray;
    border-radius: 6px;
 }
 .action-box img{
    width: 100%;
 }
 .cours-more-info{
    display: flex;
    
 }
 .cours-star{
    display: flex;
    list-style: none;
    padding: 0;
 }
 /* .review{
    border: 1px solid grey;
    width: 60%;
    border-radius: 6px;
 }
 */
 
 .cours-more-info{
   border-top: 1px solid gray;
 }
 .review{
   width: 60%;
 }
 .price{
   border-left: 1px solid gray;
   width: 40%;
   
} 
.carousel-control-prev{
   margin-top: 156px;
   width: 53px;
   margin-left: -54px;
   height: 50px;
   background-color: #FFD700;
}
.carousel-control-prev-icon {
   color: black;
}
.carousel-control-next{
   margin-top: 156px;
   width: 53px;
   height: 50px;
   margin-right: -54px;
   background-color: #FFD700;
}
.carousel-control-next-icon{
   color: black;
}
/* 
 <!-- Popular Courses END -->
  */

  .background-color-tim{
   background-color: rgba(23, 39, 59, 0.9);
   opacity: 0.8;
  }
  .join-now-course{
   padding: 50px 0px;
   margin-top: 20px;
  }
  .join-now-btn{
   background-color: #483d8b;
  }
  .join-content-bx .join-now-btn:hover{
   background-color: #5d478b;
  }
  .join-course-now-2{
   background-color: #FFD700;
   margin-top: 40px;
  }
  .join-course-now-2:hover{
   background-color: #483d8b;
  }
  /*  */
.counter{
   font-size: 45px;
   font-weight: bold;
}
.cong{
   font-size: 45px;
   font-weight: bold;
}
.counter-text{
   color: #FFD700;
   font-size: 20px;
}
.counter-style-1{
   padding: 20px 0px;
   text-align: center;
}
/* <!-- Lớp học nổi bật --> */
.line-bottom-theme-colored-2{
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
}
.list-border{
   list-style: none;
   padding: 0;
}
.list-border li{
   border-bottom: 1px dotted gray;
   padding-bottom: 10px;
}
.list-border li a{
   text-decoration: none;
   color: gray;
}
.list-border li a:hover{
   color: #333333;
}
.subject-tag{
   display: flex;
   flex-wrap: wrap;
   column-gap: 5px;
   row-gap: 5px;
}
.subject-tag a{
   font-size: 24px;
   border: 1px solid grey;
   border-radius: 5px;
   text-decoration: none;
   color: gray;
   padding: 3px;
}

.panel-title a{
   text-decoration: none;
   color: #333333;
}
.panel-title{
   font-size: 20px;
}